@charset "utf-8";
/* CSS Document */
		.DropNoPad{
			padding: 0px !important;
			border-radius: 10px !important;
		}
		.nav-linka{
			color: aqua !important;
			text-align: center !important;
			align-items: center !important;
		}
		.Dp{
			padding-bottom: 10px !important;
			padding-top: 10px !important;
			padding-left: 30px !important;

		}
		.Sbg{
			background-color: #FFFFEE !important;
		}
		.Sbgc{
			background-color: #FFFFE8 !important;
			border: 0px #FFFFFF !important;
		}
		.Fh{
			font-family: "Dast Nevis";
			font-size: 30px !important;
		}
		.HnavI{
			opacity: 60% !important;
		}
		.Sp{
			padding-left: 100px !important;
		}

		.no-brd{
			border: none !important;
		}
		.brd{
			border: 4px solid black !important;
		}
		.ctr{
			border-right: none !important;
			border-left: none !important;
		}
		
		.mC{
			padding: 8px;
		}
		#1234{
			max-height: 70px !important;
			max-height: 70px !important;
			height: 70px !important;
			height: 70px !important;
		}
		.bb{
			border: 2px solid black;
		}
		.b{
			background-color: #EECAB0 !important;
		}
		.b2{
			background-color: #F1BC95 !important;
			color: #1C8ABF !important;
			padding: 7px;
			
		}
		.te{
			color: #FFF500 !important;
			
/*			0D4E92*/
/*			#1486E4*/
			font-size: 20px !important;
		}
		.hehe{
			background-color: aquamarine !important;
		}










		.ReserveM{
			width: 100% !important;
		}
		.divNp{
			width: 50% !important;
}
		.Np{
			padding: 0px !important;
			width: 50% !important;
		}
		.Ft{
			font-family: "IranNastaliq" !important;
			font-size: 30px !important;
			border-radius: 10px !important;
		}
		.Ftm{
			width: 230px !important;
		}
		.liFtm{
			padding-left: 35px !important;
}
/*
		.navH{
			background-color: white !important;
			width: 100%;
			float: left !important;
		}
*/


































